.fade-in {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0%;
  transition: 1.5s;
  
}

.fade-in-slow {
  opacity: 100%;
  transition: 3s;
}


.tran-jarnbin-3 {
  transform: translateY(-1500px);
  transition: 1s;
}